            
            body {
                font-family: 'Kanit', sans-serif;
                background-image: url('../web/img/BG.jpg');
                background-attachment: fixed;
                background-size: cover; /* หรือ background-size: 100% 100%; */
                object-fit: cover;
                margin: 0;
                padding: 0;
              }
              
            /* Additional styles for the modal and image */
            .enlargeable {
                cursor: pointer;
            }

            .modal {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.75);
                justify-content: center;
                align-items: center;
            }

            .modal-content {
                display: inline-block;
                text-align: center;
            }

            .enlarged-image {
                max-width: 800px;
                max-height: 600px;
            }